@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Quicksand&display=swap');

:root {
  --font-color: #272822;
  --background-color: #f6f6f6;
  --shadow: rgba(0, 0, 0, 0.1);
  --border-color: #e0e0e0;
  --margin-left:28rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
}

.App {

  font-family: 'Poppins', sans-serif;



}

.feature-cointainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 6.5rem;
  margin-left: var(--margin-left);
}


.navigation-outerdiv {
  display: flex;
  height: 6.5rem;
  font-size: 2.4rem;
  color: var(--font-color);
  background-color: var(--background-color);
  width: 100%;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 3px var(--shadow);
  position: fixed;
  top: 0;
  z-index: 10000;
}

.hover {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
}

.hover:hover {
  transition: 0.05s;

  background-color: #aaaaaa55;
  border-radius: 50%;
}

.logo-cointainer {
  display: flex;
  flex-wrap: wrap;

  align-items: center;

}

.uil-diary-alt {
  font-size: 4.5rem !important;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;

}

.logo DescriptionIcon {
  font-size: 2rem;
}

.profile-cointainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 8rem;



}

.profile-image {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
}

.profile-image {
  background: url('https://img1.ak.crunchyroll.com/i/spire4/efb689bcfd5b6f86359a902f6d21136e1644413930_full.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

}




.hero-cointainer {
 
  display: flex;
  margin-top: 2rem;
  padding: 1rem;
}

.note-cointainer,
.todo-cointainer {
 
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 12px 16px;
  font-size: 14px;
  margin-right: 2.5rem;
  margin-bottom: 2.5rem;
 transition: 0.3s;
 color: var(--font-color);
}
.note-cointainer{
  
  width: 23rem;
  height: 19rem;
}
.todo-cointainer{
  width: 100%;
  height: 10rem;
}
.notes {
  flex-wrap: wrap;
  justify-content:space-around;
 
  
}
.todo{

flex-direction: column;

  width: calc(100vw - var(--margin-left));

}

.side-nav {
  color: var(--font-color);
  background-color: var(--background-color);
  height: 100vh;
  width: 27rem;
  transition: 0.3s;
  position: fixed;
  border: 1px solid var(--border-color);
  z-index: 888;

}

#sidenav-text1 {
  display: flex;
}

#sidenav-text2 {
  display: flex;
}

.side-nav ul {
  text-decoration: none;
  margin-top: 10px;
}

.side-nav ul li {
  display: flex;
  height: 4.8rem;

  color: var(--font-color);
  align-items: center;
  font-size: 1.4rem;
}

.nav-icon {
  padding-left: 1rem;


}

.sidenav-li:hover {
  background-color: #D7415DB5;
  border-radius: 0px 25px 25px 0px;
  transition: 0.01s;
}



.clicked {
  background-color: #d7415d;
  border-radius: 0px 25px 25px 0px;
}

.uil-file-graph,
.uil-list-ul {
  font-size: 3.2rem;
  margin-left: 10px;
  margin-right: 30px;
}

@media only screen and(max-width:1200) {
  /*large screen */
}

@media only screen and(max-width:992px) {
  /* laptop phone */
}

@media only screen and(max-width:796px) {
  /* tablet phone */
}

@media only screen and (max-width:600px) {

  /* mobile phone */
  .navigation-outerdiv {
    height: 5.6rem;
  }

  .side-nav {
    margin-top: -6.5px;
    
    height: 100%;
  }

  #sidenav-text1,
  #sidenav-text2 {
    display: none;
  }


  .notes {

    
  }
  .note-cointainer{
  
    width:calc(100vw - var(--margin-left));
    height: 19rem;
  }

  .todo {
  }
  .hero-cointainer{
    margin-top: 0.1rem;
    padding: 0.1rem;
  }
}